# Python
**/venv/
**/__pycache__/
**/*.pyc
backend/cache_f1/

# JavaScript / React
**/node_modules/
frontend/dist/

# Env & OS
.env
.DS_Store

# Relatórios gerados
relatorios_gerados/

# Cache
cache_f1/

*.joblib