@tailwind base;
@tailwind components;
@tailwind utilities;

/* Garante que o body e o root ocupem a tela toda sem margens */
html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}